main {
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100vh;

    .menu {
        grid-column: 1/2;
        background: #fff;
        padding-right: 3px;

        .wrap {
            margin: 30px;

            h3 {
                font-weight: bold;
                font-size: 24px;
                color: #82819e;
            }

            .rooms {
                margin-top: 25px;
                .current {
                    color: black;
                    font-size: 18px;
                }
            }
        }

        .content {
            height: 100vh;
        }

        .participants {
            display: flex;
            flex-direction: column;
            margin-top: 25px;
            margin-left: 25px;

            li {
                display: flex;
                align-items: center;

                & + li {
                    padding-top: 20px;
                }

                img {
                    width: 50px;
                    border-radius: 50%;
                    margin-right: 15px;
                }

                strong {
                    color: #a1a0b4;
                }
            }
        }
    }
}

.aside-conversation {
    grid-column: 2/5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .wrapper-conversation {
        height: 100%;
        padding: 30px;
        width: 100%;
        background: #f6f6fc;
        display: flex;
        flex-direction: column;

        -webkit-box-shadow: -2px 0px 8px -2px rgba(161, 160, 180, 1);
        -moz-box-shadow: -2px 0px 8px -2px rgba(161, 160, 180, 1);
        box-shadow: -2px 0px 8px -2px rgba(161, 160, 180, 1);

        .settings {
            display: flex;
            justify-content: space-between;
            .profile {
                display: flex;
                align-items: center;
                img {
                    width: 40px;
                    border-radius: 50%;
                    margin-right: 15px;
                }
                h2 {
                    color: #908fa5;
                    font-weight: bold;
                }
            }

            .logout {
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .canva-conversation {
            margin-top: 5%;
            height: 90%;
        }

        .message {
            display: flex;
            margin: 25px;
            padding: 10px;

            img {
                width: 50px;
                border-radius: 50%;
                margin-right: 15px;
                display: flex;
                align-self: center;
            }

            .ballon {
                background: #f2f2f7;
                color: #7e7e89;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 10px;
                align-items: stretch;
                min-width: 250px;
                padding:15px;
                strong {
                    font-size: 12px;
                }
            }

            .msg-from-me {
                background: #dff0ff;
            }
        }

        .aux {
          display: flex;
        }

        .msg-reverse {
          flex-direction: row-reverse;
          .aux{
            flex-direction: row-reverse;

            img {
              margin-left: 15px;
            }
          }
        }

        .m-other {
            justify-content: flex-end;
        }

        .content-input {
            padding: 16px;
            width: 100%;
            & + div {
                margin-top: 8px;
            }
            input {
                flex: 1;
                background: transparent;
                border: 0;
                color: #666360;
                &::placeholder {
                    color: #666360;
                }
            }
        }
    }
}
